@import "nullstyle.scss";

.container {
  max-width: 880px;
  margin: 0 auto;
  width: 100%;
  @media (max-width: 892px) {
    max-width: 766px;
  }
  @media (max-width: 766px) {
    max-width: none;
    padding: 0 10px;
  }
}

.ibg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  img {
    display: none;
  }
}

.navbar {
  padding: 10px 20px;
  display: flex;
  align-items: center;

  &__logo {
    flex: 1 1 auto;
    font-size: 20px;
  }

  &__search {
    margin: 0 10px 0 0;
  }
}


.logo {
  &__link {
    display: inline-block;
    color: black;
  }
}

.home-container {
  display: flex;
  align-items: flex-start;
  padding: 10px 20px 0 20px;
}

.sidebar {
  width: 200px;
  padding: 10px;
  margin-right: 20px;
  box-shadow: 0 0 10px rgba(0, 12, 33, 0.24);

  &__tittle {
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  &__topic {
    margin: 0 0 10px 0;
    font-size: 18px;

    &:last-child {
      margin: 0;
    }
  }
}

.search {
  &__input {
    border: 1px solid black;
    padding: 5px;
  }
}

.content {
  width: 100%;
}

.content-top {
  margin: 0 0 10px 0;
  display: flex;
  align-items: flex-end;

  &__link {
    display: inline-block;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 12, 33, 0.24);
  }

  &__search-results {
    flex: 1 1 auto;
    text-align: end;
  }
}

.content-body {
  &__rooms {
  }

  &__nothing-found {
    font-size: 22px;
    color: #a1a1a1;
  }
}

.rooms {
  width: 100%;
}

.room {
  margin: 0 0 10px 0;
  box-shadow: 0 0 10px rgba(0, 12, 33, 0.24);
  padding: 10px;

  &:last-child {
    margin: 0;
  }

  &__top {
    display: flex;
    margin: 0 0 5px 0;
  }

  &__username {
    flex: 1 1 auto;
    font-size: 12px;
  }

  &__buttons {
    display: flex;
  }

  &__button {
    margin: 0 10px 0 0;
    width: 50px;

    &:last-child {
      margin: 0;
    }
  }

  &__name {
    font-size: 20px;
    color: black;
  }

  &__topic {
    text-align: end;
    font-size: 12px;
  }
}

.button {
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  background-color: #d5d8e7;
  color: black;

  &_red {
    background-color: #e7d5d5;
  }

  &__link {
    color: black;
  }

  &__img {
    width: 100%;
  }

  &_close {
    background: none;
  }
}

.room-name {
  &__text {
    color: black;
  }
}

.room-page {
  padding: 0 20px;

  &__tittle {
    font-size: 20px;
    margin: 0 0 20px 0;
  }

  &__description {
  }
}

.delete-page {
  padding: 0 20px;
}

.delete-form {
  &__text {
    font-size: 22px;
    margin: 0 0 20px 0;
  }

  &__button {
    display: inline-block;
    color: black;
    padding: 10px;
  }
}

.messages {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;

  &__list {
  }

  &__item {
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0, 12, 33, 0.24);
    background-color: #dfe2ec;
    border-radius: 5px;
    position: relative;
    &:last-child {
      margin: 0;
    }
  }

  &__text {
  }

  &__cross {
    width: 15px;
    padding: 0;
    position: absolute;
    top: 5px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }

  .error {
    background-color: #f3d6d6;
  }
}