<div class="navbar">

    <div class="navbar__logo logo">
        <a href="/" class="logo__link">
            MyAPP
        </a>
    </div>
    <div class="navbar__search search">
        <form method="get" action="{% url 'home' %}" class="search__form">
            <input type="text" name="q" placeholder="Search Rooms..." autocomplete="off" class="search__input">
        </form>
    </div>

    {% if request.user.is_authenticated %}
        <div class="navbar__logout">
            <a href="{% url 'logout' %}" class="button">Logout</a>
        </div>
    {% else %}
        <div class="navbar__login">
            <a href="{% url 'login' %}" class="button">Login</a>
        </div>
    {% endif %}

</div>
