{% extends 'main.html' %}

{% block content %}

    <div class="body">
        <div class="login-form">
            <form method="post" action="" class="login-form__form">
                {% csrf_token %}
                <label class="login-form__label">Username</label>
                <input type="text" name="username" placeholder="Enter Username" class="login-form__input">
                <label class="login-form__label">Password</label>
                <input type="password" name="password" placeholder="Enter Password" class="login-form__input">
                <input type="submit" value="Login" class="login_page__submit-button button button_big">
            </form>
        </div>
    </div>
{% endblock %}